*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
}

h1{
    text-align: center;
    margin: 3rem;
    color: #FFF;
}

p{
    text-align: center;
    margin: 3rem;
    color: #fff;
}

.container{
    width: 20rem;
    margin: auto;
    background-color: #333;
    border-radius: 1rem;
    padding: 1rem;
}

.container .header{
    width: 100%;
    height: 10rem;
    background-image: url(img/1.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container .main{
    text-align: center;
    margin: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
}
ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: .5s;
}

ul li a img:hover{
    width: 60px;
}